*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul, nav{
    list-style: none;
}
body{    
    font: normal 16px "Lato", Arial, sans-serif;
    color:#555;
    text-align: center;
}
a{
    text-decoration: none;
    color:black;
    cursor:cursor;
    opacity: 0.6;
}
a:hover{
    opacity: 1;
}
hr{
    width:150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin: 40px auto;
}
section{
    background-color: #fff;
    padding: 125px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section p{
    max-width: 800px;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;    
    color: #141938;
    font-family: "Lato", Arial, sans-serif;
}
section h3{
    color: #141938;
    font: 32px;
    font-weight: 900;
    font-family: "Lato", Arial, sans-serif;
    margin-bottom: 35px;
}

img {
    background-color: #fff;
}

@media(max-width: 1000px){
    section{
        padding:100px 50px;
    }
}

@media(max-width: 600px){
    section{
        padding:80px 30px;
    }
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------
HEADER
---------------*/
header{
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    align-items: center;
    color: gray;
    padding: 35px 100px 20px;
    display:flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
}

header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

header a{
    opacity: 1;
}
header a:hover{
    font-weight: bold;
}

@media(max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}

@media(max-width: 700px){
    header{
        font-size: 100%;
        flex-direction: column;
    }
    header nav li{
        margin: 0 5px;
    }
    header h2{
        margin-bottom: 15px;
    }
}

.smallerheadline{
    font-size:  75%;
}
.round{
    border: 6px solid #2196F3;
    border-radius: 50%;
}
/*--------------
INCIO
---------------*/
.inicio{
    background-color: transparent;
    position:relative;
    justify-content: center;
    min-height: 100vh;
    color:#fff;
    text-align: center;
}

.inicio .background-image{
    background: url('images/intro-orologia.jpg');
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-color: gray;
}

.inicio .background-image:after{
    content: '';
    position:fixed;
    top:0;
    left: 0;
     width: 100%;
    height: 100%;
    background-color: #414A4F;
    opacity: 0.75;
}

.inicio h1{
    font: bold 60px "Lato", Arial, sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px #000;
    margin-bottom: 15px;
}

.inicio h3{
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
    color:aliceblue;
}

@media(max-width: 800px){
    .inicio{
        min-height: 600px;
    }
    .inicio h1{
        font-size: 48px;
    }
    .inicio h3{
        font-size: 24px;
    }
    .inicio .background-image{    
        background-color: gray !important;
        background: url('images/intro-orologia-small.jpg') center no-repeat;
    }
    
}
/*--------------
IMPAR
---------------*/
.impar{
    background-color: #EDEFFC;
}

.impar .grid li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.impar .grid li h4 {
    /*color: #2196F3;*/
    color: #101249;
    font-size: 20px;
    margin-bottom: 25px;
}


.impar .grid li p {
    margin: 0;
}

@media (max-width: 1000px){
    .impar .grid li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    
    .impar .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .impar .grid li{
        flex-basis: 100%;
    }
}

/*--------------
PAR
---------------*/
.par{
    background-color: #6464FA;
    color: #fff;
}

.par .grid li{
    color: #fff;
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.par .grid li h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}

.par h3 {
    color: #fff;
}

.par p {
    color: #fff;
}

.par .grid li p {
    margin: 0;
}

@media (max-width: 1000px){
    .par .grid li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    
    .par .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .par .grid li{
        flex-basis: 100%;
    }
}

/*--------------
CONTACTO
---------------*/

.contacto{
    background-color: #6464FA;
    margin-top: 0;
    color: #fff;
}

.contacto p{
    text-align: left;
    color: #fff;
}

.contacto h3{    
    color: #fff;
}

.contacto #divMsg{
    margin-top: 24px;
    width: 100%;    
}

.contacto .tabla{
    width: 100%;
    border: 1px solid white;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.438rem 0.875rem;
    font-size: .894rem;
    line-height: 1.54;
    color: #4E5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24,28,33,0.1);
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

.form-control-lg {
    height: calc(3rem + 2px);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.checkbox label, .checkbox .text {
    font-size: 12px;
    color: #494F66;
}

.term{
    text-align: start;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.btn-lg {
    font-size: 1rem;
}
.btn {
    font-size: .894rem;
    height: 50px;
}
.text-muted {
    color: #a3a4a6 !important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.3rem !important;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.438rem 1.125rem;
    font-size: .894rem;
    line-height: 1.54;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.font-weight-bold {
    font-weight: 700 !important;
}
small, .small {
    font-size: 85%;
    font-weight: 400;
}

small {
    font-size: 80%;
}

/*--------------
FOOTER
---------------*/

footer{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color: #a9b1d1;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

footer ul{
    display:flex;
    margin-bottom: 25px;
    font-size: 32px;
}

footer ul li{
    margin: 0 8px;
}

footer ul li:first-child{
    margin-left: 0;
}

footer ul li:last-child{
    margin-right: 0;
}

footer p{
    font-size: 14px;
    color: #a9b1d1;
    margin-bottom: 10px;
}

footer p a{
    color: #fff;
}

footer .copy-right{
    display: flex;
}

footer .copy-right-text{
    padding-top: 3px;
}

footer .logo{
    margin-right: 20px;
}

@media (max-width: 700px){
    footer{
        padding: 80px 15px;
    }
}